<h1>Paieskos rezultatai frazei: {{s}}</h1>
<table>
    <tr>
        <th>Pavadinimas</th>
        <th>Turinys</th>
        <th>Data</th>
        <th>Veiksmas</th>
    </tr>

    {{#each data}}
    <tr>
        <td>{{pavadinimas}}</td>
        <td>{{turinys}}</td>
        <td>{{data}}</td>
        <td><a href="/irasai/edit/{{_id}}">Redaguoti</a></td>
    </tr>
    {{~/each}}
</table>